@import url("global.css");

.content-aboutMe {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 20px 100px;
  color: rgb(44, 44, 44);
  margin-top: var(--md);
}
.content-aboutMe div {
  padding: 20px 50px;
}
.content-aboutMe h2 {
  font-size: 35px;
  font-weight: 300;
  font-family: var(--font-family-3);
  line-height: 20px;
  margin: 30px 0;
  text-align: center;
}
/* 1 */
.img-container {
  grid-area: 1 / 1 / 4 / 4;
  border: 1px solid black;
}

.img-container img {
  display: block;
  max-width: 100%;
  height: 700px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 auto;
}
.rrss {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* 2 */
.description-container {
  grid-area: 1 / 4 / 5 / 6;
  border: 1px solid black;
  letter-spacing: 1.2px;
  text-align: justify;
}
.description-container p {
  font-size: 20px;
  font-family: var(--font-family-4);
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0;
}

/* 3 */
.aptitudes-container {
  grid-area: 4 / 1 / 7 / 3;
  border: 1px solid black;
  text-align: center;
}

/* 4 */
.resume-container {
  grid-area: 4 / 3 / 5 / 4;
  border: 1px solid black;
}
/* 5 */
.experience-container {
  grid-area: 5 / 3 / 7 / 6;
  border: 1px solid black;
}
.experience-container ul li {
  list-style: none;
  font-family: var(--font-family-2);
  font-size: 18px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 1064px) {
  .content-aboutMe {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  .content-aboutMe div {
    padding: 15px 25px;
  }
  .resume-container,
  .img-container,
  .experience-container {
    width: 100%;
  }
  .experience-container ul {
    padding: 0;
  }
  .img-container img {
    height: 500px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .content-aboutMe {
    margin: 20px 60px;
  }
  .content-aboutMe div {
    padding: 20px 30px;
  }
}

@media only screen and (min-width: 1500px) {
  .content-aboutMe {
    margin: 60px 200px;
  }
  .content-aboutMe div {
    padding: 40px 70px;
  }
  .content-aboutMe h2 {
    font-size: 70px;
    padding-bottom: 40px;
  }
  .img-container img {
    height: 1000px;
  }
  .description-container p {
    font-size: 40px;
    font-weight: 100;
    line-height: 55px;
    letter-spacing: 1px;
  }
}
