.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: black;
  margin-right: 80px;
  line-height: 0px;
  height: 90vh;
}

.header-container h1 {
  font-family: var(--font-family-3);
  font-weight: 400;
  font-size: var(--fs-200);
  line-height: 30px;
  margin-bottom: 90px;
}

.header span {
  font-size: var(--fs-80);
  font-family: var(--font-family-1);
  font-weight: lighter;
  margin: 40px;
}

.typewriter-text {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  font-family: var(--font-family-4);
  letter-spacing: 2px;
  white-space: nowrap;
  width: 190px;
  padding: 25px;
  overflow: hidden;
  animation: typing 3.5s steps(20);
  animation-delay: .8s;
  margin: 0;
  font-style: italic;
  
}

@keyframes typing {
  from {
    width: 0;
    
    
  }
  /* 100% {
    width: 190px;
    opacity: 1;
  } */
}

@media only screen and (max-width: 767px) {
  .header-container {
    margin-right: 20px;
    height: 80vh;
  }
  .header-container h1 {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .header-container {
    margin-right: 40px;
    height: 80vh;
  }
  .header-container h1 {
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1500px) {
  .header-container h1 {
    margin-bottom: 120px;
  }
  .header span {
    font-size: 130px;
  }
  .typewriter-text {
    font-size: 40px;
    width: 360px;
  }
}
