@import url("global.css");

.container-projects {
  margin: var(--body-m);
}
.container-projects:first-of-type {
  margin-top: var(--md);
}
.container-projects:last-of-type {
  margin-bottom: var(--sm);
}
.title-project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.title-project-container h2,
.title-project-container span{
  font-size: var(--fs-80);
  font-weight: 400;
  font-family: var(--font-family-3);
  text-align: center;
  padding: var(--sm);
  
}
.title-project-container span {
  width: 30%;
  border-right: 1px solid black;
}
.title-project-container h2 {
  width: 70%;
}

.project-container {
  display: flex;
}
.project-container .left {
  width: 50%;
  border: 1px solid black;
  padding: 20px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-container .left:after {
  background-color: #ffffff;
  margin: 20px 0;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform-origin: 50% 50%;  
  -webkit-transform-origin: 50% 50%;
  opacity: 0;
}
.project-container .left:hover {
  opacity: 1;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}
.project-container .left:hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}
.left img {
  display: block;
  max-width: 100%;
  height: 400px;
  object-fit: contain;
  margin: 0 auto;  
}

.project-container .left p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;  
  height: 100%;
}
.project-container .left p:hover {
  opacity: 1;
}

.left p .library{
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: var(--font-family-3);  
}
.left p .plus {
  font-size: 30px;
  font-family: var(--font-family-2);  
}

.project-container .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.right p {
  font-size: var(--sm);
  font-family: var(--font-family-1);
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0;
  padding: 0 var(--md);
  text-align: justify;
}

@media only screen and (max-width: 799px) {
  .container-projects {
    margin: 0 var(--sm);
  }
  .title-project-container {
    flex-direction: column;
  }
  .title-project-container span {
    display: none;
  }
  .title-project-container h2 {
    width: calc(100% - 42px);
  }

  .project-container {
    flex-wrap: wrap;
  }
  .project-container .left,
  .project-container .right {
    width: 100%;
  }
  .left img {
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
  }
  .project-container .left:after{
    margin: 0;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .container-projects {
    margin: 0 var(--sm);
  }
  .title-project-container h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/* 
@media only screen and (min-width: 1500px) {
  .container-projects {
    margin: 0 200px;
  }
  .container-projects:first-of-type {
    margin-top: 80px;
  }
  .title-project-container h2 {
    font-size: 90px;
  }
  .project-container .left {
    padding: 40px;
  }
  .left img {
    height: 700px;
  }
  .right p {
    font-size: 40px;
    line-height: 40px;
    padding: 30px 80px;
  }
} */
